@import "tailwindcss";

:root {
  --background: #09090b; /* Zinc 950 */
  --foreground: #fafafa; /* Zinc 50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .animate-gradient-x {
    background-size: 300% 300%;
    animation: gradient-x 3s ease infinite;
  }
}

@keyframes gradient-x {
  0% { background-position: 0% 50%; }
  50% { background-position: 200% 100%; }
  100% { background-position: 0% 50%; }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Suavizado de fuentes estilo Apple */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Clase de utilidad para efecto cristal oscuro */
.glass-panel {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}